@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#lxlab{
    height: 80px;
    width: 130px;
}